# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Lach-Java-Lib\BarangaySystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
